<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>A test app</title>
		<link rel="stylesheet" href="/style.css">
	</head>

	<body>
		<h1>INVISIBLE</h1>

		<form action="/result" method="post">
			<label>Location :</label>
			<input type="text" name="city" placeholder="City name" required><br>
			<label>Zip Code :</label>
			<input type="text" name="code" placeholder="Zip code"><br><br>
			<input type="submit" value="Submit">
		</form>
		<hr>
		<form action="/multi-results" enctype="multipart/form-data" method="post">
			<input type="file" name="uploadedFile" id="uploadedFile" required />
			<input type="submit" value="Upload" />
		</form>
	</body>

</html>
